<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/assets/scss/main.css" />
</head>

<body>
    <!-- START: NAVBAR -->
    <section class="bg-navy">
        <nav class="container navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/stylesheets/assets/images/logo.svg" alt="img" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-auto my-3 my-lg-0">
                    </div>
                    <div class="d-grid">
                        <a class="btn-navy" href="/signin">
                            Signin
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- END: NAVBAR -->

    <section class="login header bg-navy">
        <div class="container">
            <div class="d-flex flex-column align-items-center hero gap-5">
                <div>
                    <div class="hero-headline text-start">
                        Register
                    </div>
                </div>
                <form action="/register" method="POST" class="form-login justify-content-center"
                    onsubmit="submitpass.disabled = true; return true;">
                    <%- include('message.ejs') %>

                    <div class="row">
                        <!-- General -->
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_event" class="form-label">
                                Event
                            </label>
                            <select class="form-select" aria-label="Default select example" id="event" name="event">
                                <option value="FUN RUN 7K" selected>FUN RUN 7K</option>
                                <option value="JALAN SEHAT 3.6K">JALAN SEHAT 3.6K</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_nama" class="form-label">
                                Nama
                            </label>
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama">
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_no_whatsapp" class="form-label">
                                No Whatsapp
                            </label>
                            <input type="text" class="form-control" id="no_whatsapp" name="no_whatsapp"
                                placeholder="Masukkan No Whatsapp" required>
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_email" class="form-label">
                                Email
                            </label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="contoh@gmail.com" required>
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_password" class="form-label">
                                Password
                            </label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Type your password">
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_password_confirm" class="form-label">
                                Password Confirmation
                            </label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                                placeholder="Type your password">
                        </div>
                        <div class="field">
                            <span id="message"></span>
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <table>
                                <tbody>
                                    <tr>
                                        <label id="lbl_jenkel" class="form-label">
                                            Jenis Kelamin
                                        </label>
                                    </tr>
                                    <tr>
                                        <label id="lbl_jenkel1" class="form-label">
                                            <input type="radio" name="jenkel" value="L"/>
                                            Laki - Laki
                                            <input type="radio" name="jenkel" value="P"/>
                                            Perempuan
                                        </label>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            Laki Laki
                                            <label class="status-radio">
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            Perempuan
                                            <label class="status-radio">
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_ukuran" class="form-label">
                                Ukuran
                            </label>
                            <select class="form-select" aria-label="Default select example" id="ukuran" name="ukuran">
                                <option value="M" selected>M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- General -->

                        <!-- Sesuai Tipe -->
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_flag_internal" class="for ">
                                Tipe Peserta
                            </label>
                            <select class="form-select" aria-label="Default select example" id="flag_internal"
                                name="flag_internal" onchange="Tipe(this.value)">
                                <option value="1" selected>Internal</option>
                                <option value="0">Eksternal</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_nip" class="form-label">
                                Nip
                            </label>
                            <input type="text" class="form-control" id="nip" name="nip" placeholder="Masukkan Nip">
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_departement" class="form-label">
                                Departement
                            </label>
                            <input type="text" class="form-control" id="departement" name="departement"
                                placeholder="Masukkan Nama">
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_umur" class="form-label">
                                Umur
                            </label>
                            <input type="text" class="form-control" id="umur" name="umur" placeholder="Masukkan Umur">
                        </div>
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_alamat" class="form-label">
                                Alamat
                            </label>
                            <textarea class="form-control" id="alamat" name="alamat" rows="3"></textarea>
                        </div>
                        <!-- Sesuai Tipe -->
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn-navy" id="submitpass" name="submitpass">
                                    Create New Account
                                </button>
                                <a href="/signin" class="btn-green">
                                    Sign In
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <footer class="footer bg-navy">
        <div class="container">
            <div class="d-flex justify-content-center paragraph all-rights">
                All Rights Reserved. Middleeart Dev 2023.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#umur").hide();
            $("#lbl_umur").hide();
            $("#alamat").hide();
            $("#lbl_alamat").hide();

            $('#password, #password_confirm').on('keyup', function () {
                if ($('#password').val() == "" && $('#password_confirm').val() == "") {
                    $('#submitpass').prop('disabled', true);
                    $('#message').hide();
                } else if ($('#password').val() == $('#password_confirm').val()) {
                    $('#submitpass').prop('disabled', false);
                    $('#message').show().html('Password Match').css('color', 'green');
                } else {
                    $('#submitpass').prop('disabled', true);
                    $('#message').show().html('Password do not match').css('color', 'red');
                }
            });

        });

        function Tipe(val) {
            if (val == '0') {
                nip.value = "";
                departement.value = "";

                $("#umur").show();
                $("#lbl_umur").show();
                $("#alamat").show();
                $("#lbl_alamat").show();

                $("#nip").hide();
                $("#lbl_nip").hide();
                $("#departement").hide();
                $("#lbl_departement").hide();
            } else {
                umur.value = null;
                alamat.value = "";

                $("#umur").hide();
                $("#lbl_umur").hide();
                $("#alamat").hide();
                $("#lbl_alamat").hide();

                $("#nip").show();
                $("#lbl_nip").show();
                $("#departement").show();
                $("#lbl_departement").show();
            }
        }

        function setInputFilter(textbox, inputFilter, errMsg) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop", "focusout"].forEach(function (event) {
                textbox.addEventListener(event, function (e) {
                    if (inputFilter(this.value)) {
                        // Accepted value.
                        if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
                            this.classList.remove("input-error");
                            this.setCustomValidity("");
                        }

                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    }
                    else if (this.hasOwnProperty("oldValue")) {
                        // Rejected value: restore the previous one.
                        this.classList.add("input-error");
                        this.setCustomValidity(errMsg);
                        this.reportValidity();
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                    else {
                        // Rejected value: nothing to restore.
                        this.value = "";
                    }
                });
            });
        }

        setInputFilter(document.getElementById("no_whatsapp"), function (value) {
            return /^-?\d*$/.test(value);
        }, "Must be an integer");
        
        setInputFilter(document.getElementById("departement"), function (value) {
            return /^-?\d*$/.test(value);
        }, "Must be an integer");
    </script>
</body>

</html>