<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/assets/scss/main.css" />
</head>

<body>
    <!-- START: NAVBAR -->
    <section class="bg-navy">
        <nav class="container navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/stylesheets/assets/images/logo.svg" alt="img" height="75" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-auto my-3 my-lg-0">
                    </div>
                    <div class="d-grid">
                        <a class="btn-green" href="/signin">
                            Masuk
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- END: NAVBAR -->

    <section class="login header bg-navy">
        <div class="container">
            <div class="d-flex flex-column align-items-center hero gap-5">
                <div>
                    <div class="hero-headline text-start">
                        Pendaftaran Peserta
                    </div>
                </div>
                <form action="/register" method="POST" class="form-login d-flex flex-column mt-4 mt-md-0 p-30"
                    onsubmit="submitpass.disabled = true;">
                    <%- include('message.ejs') %>

                    <div class="d-flex flex-column align-items-start">
                        <label id="lbl_event" class="form-label">
                            Event
                        </label>
                        <select class="form-select" aria-label="Default select example" id="event" name="event"
                            onchange="Event(this.value)">
                            <option value="" selected>Pilih Event</option>
                            <option value="fr">FUN RUN</option>
                            <option value="fw">FUN WALK</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column align-items-start">
                        <label id="lbl_flag_internal" class="for ">
                            Tipe Peserta
                        </label>
                        <select class="form-select" aria-label="Default select example" id="flag_internal"
                            name="flag_internal" onchange="Tipe(this.value)" required>
                            <option value="" selected>Pilih Tipe Peserta</option>
                            <option value="1">Internal Kementerian/BKPM</option>
                            <option value="0">Umum</option>
                        </select>
                    </div>

                    <div class="row mt-2" id="form_register">
                        <!-- General -->
                        <div class="d-flex flex-column align-items-start">
                            <label id="lbl_nama" class="form-label">
                                Nama Lengkap
                            </label>
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama"
                                required>
                        </div>
                        <div id="vis_nip">
                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_nip" class="form-label">
                                    Nip
                                </label>
                                <input type="text" class="form-control" id="nip" name="nip" placeholder="Masukkan Nip">
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_nik" class="form-label">
                                NIK/KTP
                            </label>
                            <input type="text" class="form-control" id="nik" name="nik" placeholder="Masukkan NIK/KTP"
                                required>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_alamat" class="form-label">
                                Alamat
                            </label>
                            <textarea class="form-control" id="alamat" name="alamat" rows="3" required></textarea>
                        </div>
                        <div id="vis_departemen">
                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_departement" class="form-label">
                                    Kedeputian
                                </label>
                                <select class="form-select" aria-label="Default select example" id="departement"
                                    name="departement">
                                    <option value="" selected>Pilih Kedeputian</option>
                                    <option value="Kedeputian Pelayanan Penanaman Modal">Kedeputian Pelayanan Penanaman
                                        Modal</option>
                                    <option value="Kedeputian Perencanaan Penanaman Modal">Kedeputian Perencanaan
                                        Penanaman Modal</option>
                                    <option value="Kedeputian Promosi Penanaman Modal">Kedeputian Promosi Penanaman
                                        Modal</option>
                                    <option value="Kedeputian Kerja Sama Penanaman Modal">Kedeputian Kerja Sama
                                        Penanaman Modal</option>
                                    <option value="Kedeputian Pengembangan Iklim Penanaman Modal">Kedeputian
                                        Pengembangan Iklim Penanaman Modal</option>
                                    <option value="Kedeputian Hilirisasi Penanaman Modal">Kedeputian Hilirisasi
                                        Penanaman Modal</option>
                                    <option value="Kedeputian Teknologi dan Informasi Penanaman Modal">Kedeputian
                                        Teknologi dan Informasi Penanaman Modal</option>
                                    <option value="Kedeputian Pengendalian dan Pelaksanaan Penanaman Modal">Kedeputian
                                        Pengendalian dan Pelaksanaan Penanaman Modal</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_email" class="form-label">
                                Email
                            </label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="contoh@gmail.com" required>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_no_whatsapp" class="form-label">
                                No HP
                            </label>
                            <input type="text" class="form-control" id="no_whatsapp" name="no_whatsapp"
                                placeholder="Masukkan No HP" required>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_jenkel" class="form-label">
                                Jenis Kelamin
                            </label>
                            <select class="form-select" aria-label="Default select example" id="jenkel" name="jenkel"
                                required>
                                <option value="" selected>Pilih Jenis Kelamin</option>
                                <option value="L">Laki - Laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_golongan_darah" class="form-label">
                                Golongan Darah
                            </label>
                            <select class="form-select" aria-label="Default select example" id="golongan_darah"
                                name="golongan_darah" required>
                                <option value="" selected>Pilih Golongan Darah</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="AB">AB</option>
                                <option value="O">O</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_ukuran" class="form-label">
                                Ukuran Jersey
                            </label>
                            <select class="form-select" aria-label="Default select example" id="ukuran" name="ukuran"
                                required>
                                <option value="" selected>Pilih Ukuran Jersey</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_password" class="form-label">
                                Password
                            </label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Type your password" required>
                        </div>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_password_confirm" class="form-label">
                                Konfirmasi Password
                            </label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                                placeholder="Type your password">
                        </div>
                        <div class="field">
                            <span id="message"></span>
                        </div>
                        <div id="addinfo">
                            <label id="lbl_darurat" class="form-label mt-4">
                                *Dalam Keadaan Darurat Pihak Yang Dapat Dihubungi ( Yang Tidak Serumah )
                            </label>

                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_nama_darurat" class="form-label">
                                    Nama Lengkap </label>
                                <input type="text" class="form-control" id="nama_darurat" name="nama_darurat"
                                    placeholder="Masukan Nama Lengkap" required>
                            </div>
                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_hubungan" class="form-label">
                                    Hubungan </label>
                                <input type="text" class="form-control" id="hubungan" name="hubungan"
                                    placeholder="Masukan Hubungan" required>
                            </div>
                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_no_hp_darurat" class="form-label">
                                    Nomor HP </label>
                                <input type="text" class="form-control" id="no_hp_darurat" name="no_hp_darurat"
                                    placeholder="Masukan Nama Lengkap" required>
                            </div>

                            <div class="d-flex flex-column align-items-start mt-4">
                                <label id="lbl_alamat_darurat" class="form-label">
                                    Alamat
                                </label>
                                <textarea class="form-control" id="alamat_darurat" name="alamat_darurat" rows="3"
                                    required></textarea>
                            </div>
                        </div>
                        <div id="addpendamping">
                            <div class="d-flex flex-column align-items-start mt-4">
                                <table>
                                    <tbody>
                                        <tr>
                                            <label id="lbl_p" class="form-label">
                                                Apakah Ada Pendamping?
                                            </label>
                                        </tr>
                                        <tr>
                                            <label id="lbl_p1" class="form-label">
                                                <input type="radio" name="pendamping" id="pendamping"
                                                    onclick="isPendamping(this);" value="Y" required />
                                                Ya
                                            </label>
                                            <label id="lbl_p2" class="form-label">
                                                <input type="radio" name="pendamping" id="pendamping"
                                                    onclick="isPendamping(this);" value="N" checked />
                                                Tidak
                                            </label>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Pendamping -->
                            <div id="form_pendamping">
                                <div class="row mt-4">
                                    <label id="lbl_pendamping_1" class="form-label">
                                        Pendamping 1
                                    </label>
                                    <div class="d-flex flex-column align-items-start mt-4">
                                        <label id="lbl_nama_pendamping_1" class="form-label">
                                            Nama Pendamping
                                        </label>
                                        <input type="text" class="form-control" id="nama_pendamping_1"
                                            name="nama_pendamping_1" placeholder="Type your Name" />
                                        <label id="lbl_ukuran_pendamping_1" class="form-label">
                                            Ukuran Jersey
                                        </label>
                                        <select class="form-select" aria-label="Default select example" id="ukuran_1"
                                            name="ukuran_1">
                                            <option value="" selected>Pilih Ukuran Jersey</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                    <label id="lbl_pendamping_2" class="form-label mt-4">
                                        Pendamping 2
                                    </label>
                                    <div class="d-flex flex-column align-items-start">
                                        <label id="lbl_nama_pendamping_2" class="form-label">
                                            Nama Pendamping
                                        </label>
                                        <input type="text" class="form-control" id="nama_pendamping_2"
                                            name="nama_pendamping_2" placeholder="Type your Name" />
                                        <label id="lbl_ukuran_pendamping_2" class="form-label">
                                            Ukuran Jersey
                                        </label>
                                        <select class="form-select" aria-label="Default select example" id="ukuran_2"
                                            name="ukuran_2">
                                            <option value="" selected>Pilih Ukuran Jersey</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                    <label id="lbl_pendamping_3" class="form-label mt-4">
                                        Pendamping 3
                                    </label>
                                    <div class="d-flex flex-column align-items-start ">
                                        <label id="lbl_nama_pendamping_3" class="form-label">
                                            Nama Pendamping
                                        </label>
                                        <input type="text" class="form-control" id="nama_pendamping_3"
                                            name="nama_pendamping_3" placeholder="Type your Name" />
                                        <label id="lbl_ukuran_pendamping_3" class="form-label">
                                            Ukuran Jersey
                                        </label>
                                        <select class="form-select" aria-label="Default select example" id="ukuran_3"
                                            name="ukuran_3">
                                            <option value="" selected>Pilih Ukuran Jersey</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                    <label id="lbl_pendamping_4" class="form-label mt-4">
                                        Pendamping 4
                                    </label>
                                    <div class="d-flex flex-column align-items-start">
                                        <label id="lbl_nama_pendamping_4" class="form-label">
                                            Nama Pendamping
                                        </label>
                                        <input type="text" class="form-control" id="nama_pendamping_4"
                                            name="nama_pendamping_4" placeholder="Type your Name" />
                                        <label id="lbl_ukuran_pendamping_4" class="form-label">
                                            Ukuran Jersey
                                        </label>
                                        <select class="form-select" aria-label="Default select example" id="ukuran_4"
                                            name="ukuran_4">
                                            <option value="" selected>Pilih Ukuran Jersey</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                    <label id="lbl_pendamping_5" class="form-label mt-4">
                                        Pendamping 5
                                    </label>
                                    <div class="d-flex flex-column align-items-start">
                                        <label id="lbl_nama_pendamping_5" class="form-label">
                                            Nama Pendamping
                                        </label>
                                        <input type="text" class="form-control" id="nama_pendamping_5"
                                            name="nama_pendamping_5" placeholder="Type your Name" />
                                        <label id="lbl_ukuran_pendamping_5" class="form-label">
                                            Ukuran Jersey
                                        </label>
                                        <select class="form-select" aria-label="Default select example" id="ukuran_5"
                                            name="ukuran_5">
                                            <option value="" selected>Pilih Ukuran Jersey</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Pendamping -->
                        </div>
                        <!-- general -->
                        <div class="d-flex flex-column align-items-start mt-4">
                            <label id="lbl_terms_agree" class="form-label">
                                Syarat & Ketentuan
                            </label>
                            <input type="checkbox" id="terms_agree" name="terms_agree" onclick="Terms()">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn-navy" id="submitpass" name="submitpass">
                                    Daftar Peserta Baru
                                </button>
                                <a href="/signin" class="btn-green">
                                    Masuk
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <footer class="footer bg-navy">
        <div class="container">
            <div class="d-flex justify-content-center paragraph all-rights">
                Copyright &copy; 2023 Middleearth Dev. All Rights Reserved.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#form_register').hide();
            $('#submitpass').prop('disabled', true);
            $('#pendamping').hide();
            $('#form_pendamping').hide();
            $('#lbl_flag_internal').hide();
            $('#flag_internal').hide();


            $('#password, #password_confirm').on('keyup', function () {
                if ($('#password').val() == "" && $('#password_confirm').val() == "") {
                    $('#submitpass').prop('disabled', true);
                    $('#message').hide();
                } else if ($('#password').val() == $('#password_confirm').val()) {
                    $('#message').show().html('Password Cocok').css('color', 'green');
                    Terms();
                } else {
                    $('#submitpass').prop('disabled', true);
                    $('#message').show().html('Password Tidak Cocok').css('color', 'red');
                }
            });

        });

        function Event(val) {
            if (val == '') {
                $('#lbl_flag_internal').hide();
                $('#flag_internal').hide();
                $('#form_register').hide();
                $('#submitpass').prop('disabled', true);
                password.value = '';
                password_confirm.value = '';
                $('#message').hide();
                document.getElementById("terms_agree").checked = false;

            } else {
                flag_internal.value = '';
                $('#lbl_flag_internal').show();
                $('#flag_internal').show();
                password.value = '';
                password_confirm.value = '';
                $('#message').hide();
                $('#submitpass').prop('disabled', true);
                document.getElementById("terms_agree").checked = false;

            }

        }

        function Tipe(val) {
            if (val == '') {

                nama.value = '';
                nip.value = '';
                nik.value = '';
                alamat.value = '';
                departement.value = '';
                email.value = '';
                no_whatsapp.value = '';
                jenkel.value = '';
                golongan_darah.value = '';
                ukuran.value = '';
                password.value = '';
                password_confirm.value = '';
                nama_darurat.value = '';
                hubungan.value = '';
                alamat_darurat.value = '';
                no_hp_darurat.value = '';
                document.getElementById("terms_agree").checked = false;

                $('#form_register').hide();
                $('#lbl_terms_agree').hide();
                $('#terms_agree').hide();
                $('#submitpass').prop('disabled', true);

            } else if (val == '1') {
                $('#form_register').show();
                $('#lbl_terms_agree').show();
                $('#terms_agree').show();
                $('#vis_nip').show();
                $('#vis_departemen').show();
                password.value = '';
                password_confirm.value = '';
                $('#message').hide();


                // nama.value = '';
                // nip.value = '';
                // nik.value = '';
                // alamat.value = '';
                // departement.value = '';
                // email.value = '';
                // no_whatsapp.value = '';
                // jenkel.value = '';
                // golongan_darah.value = '';
                // ukuran.value = '';
                // password.value = '';
                // password_confirm.value = '';
                document.getElementById("terms_agree").checked = false;
                $('#submitpass').prop('disabled', true);


            } else if (val == '0') {
                $('#form_register').show();
                $('#lbl_terms_agree').show();
                $('#terms_agree').show();
                $('#vis_nip').hide();
                $('#vis_departemen').hide();
                nip.value = '';
                departement.value = '';
                password.value = '';
                password_confirm.value = '';
                $('#message').hide();


                // nama.value = '';
                // nik.value = '';
                // alamat.value = '';
                // email.value = '';
                // no_whatsapp.value = '';
                // jenkel.value = '';
                // golongan_darah.value = '';
                // ukuran.value = '';

                document.getElementById("terms_agree").checked = false;
                $('#submitpass').prop('disabled', true);

            }

            let event = document.getElementById("event").value;
            getPendamping(event, val);
        }

        function setInputFilter(textbox, inputFilter, errMsg) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop", "focusout"].forEach(function (event) {
                textbox.addEventListener(event, function (e) {
                    if (inputFilter(this.value)) {
                        // Accepted value.
                        if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
                            this.classList.remove("input-error");
                            this.setCustomValidity("");
                        }

                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    }
                    else if (this.hasOwnProperty("oldValue")) {
                        // Rejected value: restore the previous one.
                        this.classList.add("input-error");
                        this.setCustomValidity(errMsg);
                        this.reportValidity();
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                    else {
                        // Rejected value: nothing to restore.
                        this.value = "";
                    }
                });
            });
        }

        function Terms() {
            let terms = '';
            let id = document.getElementById("terms_agree");

            if (id.checked == true) {
                terms = 'setuju';
            } else {
                terms = 'tidak setuju';
            }

            // If the checkbox is checked, display the output text
            if (terms == 'setuju') {
                if ($('#password').val() == "" && $('#password_confirm').val() == "") {

                    $('#submitpass').prop('disabled', true);
                } else if ($('#password').val() == $('#password_confirm').val()) {
                    $('#submitpass').prop('disabled', false);
                } else {
                    console.log("belom")

                    $('#submitpass').prop('disabled', true);
                }
            } else {
                $('#submitpass').prop('disabled', true);
            }
        }

        function getPendamping(event, tipe) {
            if (event == 'fw' && tipe == '1') {
                $('#lbl_p').show();
                $('#lbl_p1').show();
                $('#addpendamping').show();

                $('#lbl_p2').show();
                $('#pendamping').show();
            } else {
                pendamping.value = 'N';
                $('#addpendamping').hide();

                $('#lbl_p').hide();
                $('#lbl_p1').hide();
                $('#lbl_p2').hide();
                $('#pendamping').hide();
            }
        }

        function isPendamping(myRadio) {
            val = myRadio.value;

            if (val == 'N') {
                $('#form_pendamping').hide();
            } else {
                $('#form_pendamping').show();
            }
        }

        setInputFilter(document.getElementById("no_whatsapp"), function (value) {
            return /^-?\d*$/.test(value);
        }, "Harus Angka");

        setInputFilter(document.getElementById("nip"), function (value) {
            return /^-?\d*$/.test(value);
        }, "Harus Angka");

    </script>
</body>

</html>